
/* twitter-timeline */
.twitter-timeline { position: relative; margin: 0; }
.twitter-timeline .tweet, .twitter-timeline .avatar { display: block; padding: 5px; position: relative; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid #ccc; font-size: 13px; background-color: #eee; background-image: -moz-linear-gradient(top,#ffffff,#eeeeee); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffff),color-stop(1,#eeeeee)); background-image: -webkit-linear-gradient(#ffffff,#eeeeee); background-image: linear-gradient(top,#ffffff,#eeeeee); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#eeeeee'); }
.twitter-timeline .avatar { float: left; padding: 2px; width: 48px; height: 48px; margin-right: 5px; }
.twitter-timeline .avatar img { display: block; -webkit-border-radius: 5px; border-radius: 5px; }
.twitter-timeline .tweet { font-weight: normal; }
.twitter-timeline .tweet a { font-weight: normal; }
.twitter-timeline .tweet strong.name { display: block; font-size: 14px; }
.twitter-timeline .tweet span.date { position: absolute; top: 5px; right: 7px; font-size: 12px; color: #aaa; }
.twitter-timeline .tweet:before { content: ''; z-index: -2; position: absolute; top: 50%; bottom: 0; left: 10px; right: 10px; -webkit-box-shadow:0 0 15px rgba(0,0,0,0.4); -moz-box-shadow:0 0 15px rgba(0,0,0,0.4); box-shadow: 0 0 15px rgba(0,0,0,0.4); -moz-border-radius: 10px / 100px; border-radius: 10px / 100px; -moz-border-radius: 100px / 10px; border-radius: 100px / 10px; }

/* horizontal timeline carousel */
.twitter-timeline .ts-carousel { overflow: hidden; float: left; width: 100%; }
.twitter-timeline .ts-carousel ul { margin-bottom: 0; }
.twitter-timeline .ts-carousel ul li { height: 100%; margin: 0; float: left; margin-right: 15px; display: block; }
.twitter-timeline .ts-nav span { position: absolute; display: block; width: 15px; height: 24px; top: 50%; margin-top: -20px; cursor: pointer; opacity: 0.75; filter: alpha(opacity=75); }
.twitter-timeline .ts-nav span strong { display: block; width: 15px; height: 24px; background: url(../images/timeline-controls.png) no-repeat -999px 0; }
.twitter-timeline .ts-nav span.disabled, .twitter-timeline .ts-nav span.disabled:hover { opacity: 0.1; filter: alpha(opacity=10); }
.twitter-timeline .ts-nav span:hover { opacity: 1; filter: none; }
.twitter-timeline .ts-nav span.ts-nav-next { right: -25px; }
.twitter-timeline .ts-nav span.ts-nav-next strong { background-position: -15px 0; }
.twitter-timeline .ts-nav span.ts-nav-prev { left: -25px; }
.twitter-timeline .ts-nav span.ts-nav-prev strong { background-position: 0 0; }
.twitter-timeline-horizontal { min-height: 100px; background: url(../images/timeline-middle.png) repeat-x center center; }
.twitter-timeline-horizontal .tweet { min-height: 100px; }
.twitter-timeline-horizontal .tweet .avatar { margin-bottom: 50px; }

/* vertical timeline */
.twitter-timeline-vertical { background: url(../images/timeline-middle.png) repeat-y center top; position: relative; list-style: none; padding-top: 5px; }
.twitter-timeline-vertical li { display: block; margin-bottom: 24px; position: relative; margin-left: 0; width: 50%; background: url(../images/timeline-middle.png) repeat-x center center; }
.twitter-timeline-vertical li.odd { clear: both; float: left; margin-top: 5px; }
.twitter-timeline-vertical li:nth-child(odd) { clear: both; float: left; margin-top: 5px; }
.twitter-timeline-vertical li.odd .tweet { margin-right: 15px; }
.twitter-timeline-vertical li.even { clear: right; float: right; margin-top: 24px; margin-bottom: 10px; }
.twitter-timeline-vertical li:nth-child(even) { clear: right; float: right; margin-top: 24px; margin-bottom: 10px; }
.twitter-timeline-vertical li.even .tweet { margin-left: 15px; }
.twitter-timeline-vertical li .tweet { margin-bottom: 0; }
.twitter-timeline-vertical li.more { width: 100%; float: none; clear: both; text-align: center; background: none; padding: 0; margin-bottom: 0; }
.twitter-timeline-vertical li.more a { margin-bottom: 0; margin-top: 10px; line-height: 32px; margin-bottom: 14px; padding: 0px 12px; border: 1px solid #ccc; text-decoration: none; font-size: 13px; font-weight: bold; white-space: nowrap; text-align: center; outline: 0; cursor: pointer; display: inline-block; color: #444; background-color: #eee; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-image: -moz-linear-gradient(top,#ffffff,#dddddd); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffff),color-stop(1,#dddddd)); background-image: -webkit-linear-gradient(#ffffff,#dddddd); background-image: linear-gradient(top,#ffffff,#dddddd); filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#dddddd'); text-shadow:0px 1px 1px #fff; -moz-background-clip: padding; -webkit-background-clip:  padding-box; background-clip: padding-box; }
.twitter-timeline-vertical li.more a:hover, .twitter-timeline-vertical li.more a:focus { border: 1px solid #999; color: #333; background-color: #ddd; background-image: -moz-linear-gradient(top,#f6f6f6,#d2d2d2); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f6f6f6),color-stop(1,#d2d2d2)); background-image: -webkit-linear-gradient(#f6f6f6,#d2d2d2); background-image: linear-gradient(top,#f6f6f6,#d2d2d2); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f6f6',EndColorStr='#d2d2d2'); }
.twitter-timeline-vertical li.more a:active { border: 1px solid #999; color: #444; background-color: #ccc; background-image: -moz-linear-gradient(top,#cccccc,#eeeeee); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#cccccc),color-stop(1,#eeeeee)); background-image: -webkit-linear-gradient(#cccccc,#eeeeee); background-image: linear-gradient(top,#cccccc,#eeeeee); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cccccc',EndColorStr='#eeeeee'); }

/* clearfix */
.clearfix:after { clear: both; content: "."; display: block; font-size: 0; height: 0; line-height: 0; visibility: hidden; }
.clearfix { *zoom: 1; *-ms-inject: expression(this.x||(this.innerHTML+='<br\ style="clear:both;font:0/0">',this.x=1)); }

/* smaller then regular desktop monitor */
@media handheld, only screen and (max-width: 1100px) {
	.twitter-timeline .ts-nav span { margin-top: -18px; padding: 5px 8px; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid #ccc; background-color: #eee; background-image: -moz-linear-gradient(top,#ffffff,#eeeeee); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffff),color-stop(1,#eeeeee)); background-image: -webkit-linear-gradient(#ffffff,#eeeeee); background-image: linear-gradient(top,#ffffff,#eeeeee); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#eeeeee'); }
	.twitter-timeline .ts-nav span.ts-nav-next { right: -18px; }
	.twitter-timeline .ts-nav span.ts-nav-prev { left: -18px; }
}

/* mobile */
@media handheld, only screen and (max-width: 480px) {
	.twitter-timeline-vertical li { width: 100%; background: none; margin-bottom: 20px; }
	.twitter-timeline-vertical li.odd { float: none; margin-top: 0; padding-right: 0; }
	.twitter-timeline-vertical li:nth-child(odd) { float: none; margin-top: 0; padding-right: 0; }
	.twitter-timeline-vertical li.even { float: none; margin-top: 0; margin-bottom: 20px; padding-left: 0; }
	.twitter-timeline-vertical li:nth-child(even) { float: none; margin-top: 0; margin-bottom: 20px; padding-left: 0; }
	.twitter-timeline-vertical li.odd .tweet, .twitter-timeline-vertical li.even .tweet { line-height: 20px; margin: 0; }
	.twitter-timeline-vertical li.more { margin-bottom: 0; }
	.twitter-timeline-horizontal { padding-left: 10px; padding-right: 10px; }
	.twitter-timeline-horizontal .ts-nav span.ts-nav-next { right: -10px; }
	.twitter-timeline-horizontal .ts-nav span.ts-nav-prev { left: -10px; }
}

/* small mobile */
@media handheld, only screen and (max-width: 320px) {
	.twitter-timeline-horizontal { background: none; }
}